@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

/*-------- navbar --------*/

.navbar{
    height: 50px;
    width: 100%;
}

.navbar-list{
    list-style: none;
    float: right;
    margin-right: 120px;
}

.nav-list{
    font-size: 14px;
    font-weight: 600;
    display: inline;
    padding: 0px 10px;
}

.nav-list a{
    text-decoration: none;
    color: rgb(97, 94, 94);
}

/*-------- first section --------*/

.first-section{
    height: 500px;
    margin-top: 30px;
    padding-left: 2%;
    margin-left: 5%;
}

.section-child{
    width: 40%;
    float: left;
}

.section-child h1{
    font-size: 50px;
    line-height: 55px;
    color: rgb(97, 94, 94);
}

.font-highlight{
    color: #f5a560;
}

.section-child p{
    font-size: 14px;
    color: rgb(97, 94, 94);
    margin-bottom: 40px;
}

.click-btn{
    color: white;
    background-color: #f5a560;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}

#Fsection-child{
    margin-top: 50px;
}

.section-child img{
    width: 100%;
    margin-left: 120px;
}

/*-------- about section --------*/

.about-section{
    height: 500px;
    margin-top: 15px;
    padding-left: 2%;
    margin-left: 5%;
}

#about-child img{
    margin-left: 0px;
}

.section-child h2{
    font-size: 30px;
    color: rgb(97, 94, 94);
}

#about-text p{
    text-align: justify;
    padding-right: 70px;
}

#about-text{
    margin-top: 70px;
    margin-left: 140px;
}

/*-------- work section --------*/

.work-section{
    height: 100vh;
    background-color: rgb(239, 239, 247);
}

.work-section h2{
    font-size: 30px;
    color:  rgb(97, 94, 94);
    text-align: center;
    position: relative;
    top: 70px;
}

.work-parent-child{
    height: 50%;
    width: 80%;
    margin: 130px auto;
}

.work-child{
    width: 28%;
    height: 90%;
    background-color: #fcfcfc;
    float: left;
    border-radius: 20px;
    padding: 12px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px gray;
}

.work-child a img{
    width: 100%;
}

.work-child h3{
    line-height: 10px;
}

.work-child h3 a{
    text-decoration: none;
    color: #f5a560;
}

.work-child p{
    font-size: 13px;
    color: rgb(97, 94, 94);
}

/*-------- blog section --------*/

.blog-section{
    height: 90vh;
}

.blog-child{
    height: 400px;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    position: relative;
    top: 20%;
    float: left;
}

.blog-child h2{
    color: rgb(97, 94, 94);
}

.blog-child img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 50px 50px 10px rgb(236, 236, 236);
}

#blog-content{
    position: relative;
    top: 23%;
    left: 2%;
}

.unorder-child li{
    color: rgb(97, 94, 94);
}

#blog-btn{
    position: relative;
    top: 7%;
}

/*-------- inquiry section --------*/

.inquiry-section{
    height: 300px;
}

.inquiry-child{
    width: 60%;
    height: 30vh;
    background-image: url(../images/inquiry-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top: 18%;
}

.inquiry-child h1{
    font-size: 30px;
    line-height: 0px;
    color: white;
    float: left;
    position: relative;
    top: 37%;
    left: 50px;
}

.inquiry-child .click-btn{
    float: right;
    position: relative;
    top: 39%;
    right: 50px;
}

#shadow-out{
    box-shadow: none;
}