@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/*-------- navbar --------*/

.navbar{
    height: 50px;
    width: 100%;
    border: 1px solid red;
}

.navbar-list{
    list-style: none;
    float: right;
    margin-right: 120px;
}

.nav-list{
    font-size: 14px;
    font-weight: 600;
    display: inline;
    padding: 0px 10px;
}

.nav-list a{
    text-decoration: none;
    color: rgb(97, 94, 94);
}

/*-------- first section --------*/

.first-section{
    height: 500px;
    margin-top: 30px;
    padding-left: 2%;
    margin-left: 5%;
}

.section-child{
    width: 40%;
    float: left;
}

.section-child h1{
    font-size: 50px;
    line-height: 55px;
    color: rgb(97, 94, 94);
}

.font-highlight{
    color: #f5a560;
}

.section-child p{
    font-size: 14px;
    color: rgb(97, 94, 94);
    margin-bottom: 40px;
}

.click-btn{
    color: white;
    background-color: #f5a560;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
    font-weight: 500;
}

#Fsection-child{
    margin-top: 50px;
}

.section-child img{
    width: 100%;
    margin-left: 120px;
}

/*-------- about section --------*/

.about-section{
    height: 500px;
    margin-top: 15px;
    padding-left: 2%;
    margin-left: 5%;
}

#about-child img{
    margin-left: 0px;
}

.section-child h2{
    font-size: 30px;
    color: rgb(97, 94, 94);
}

#about-text p{
    text-align: justify;
    padding-right: 70px;
}

#about-text{
    margin-top: 70px;
    margin-left: 140px;
}